version: '3.8'

services:
  # Hyperledger Fabric Orderer
  orderer.nit.ac.in:
    container_name: orderer.nit.ac.in
    image: hyperledger/fabric-orderer:2.5
    environment:
      FABRIC_LOGGING_SPEC: INFO
      ORDERER_GENERAL_LISTENADDRESS: 0.0.0.0
      ORDERER_GENERAL_LISTENPORT: 7050
      ORDERER_GENERAL_GENESISMETHOD: file
      ORDERER_GENERAL_GENESISFILE: /etc/hyperledger/orderer/orderer.genesis.block
      ORDERER_GENERAL_LOCALMSPID: OrdererMSP
      ORDERER_GENERAL_LOCALMSPDIR: /etc/hyperledger/orderer/msp
      ORDERER_GENERAL_TLS_ENABLED: 'false'
    volumes:
      - ./network/artifacts/orderer.genesis.block:/etc/hyperledger/orderer/orderer.genesis.block
      - ./network/organizations/ordererOrganizations/nit.ac.in/msp:/etc/hyperledger/orderer/msp
    ports:
      - "7050:7050"
    networks:
      - fabric

  # Hyperledger Fabric Peer - NITWarangal
  peer0.nit.ac.in:
    container_name: peer0.nit.ac.in
    image: hyperledger/fabric-peer:2.5
    environment:
      FABRIC_CFG_PATH: /etc/hyperledger/peercfg
      FABRIC_LOGGING_SPEC: INFO
      CORE_PEER_ID: peer0.nit.ac.in
      CORE_PEER_ADDRESS: peer0.nit.ac.in:7051
      CORE_PEER_LISTENADDRESS: 0.0.0.0:7051
      CORE_PEER_CHAINCODEADDRESS: peer0.nit.ac.in:7052
      CORE_PEER_CHAINCODELISTENADDRESS: 0.0.0.0:7052
      CORE_PEER_GOSSIP_EXTERNALENDPOINT: peer0.nit.ac.in:7051
      CORE_PEER_LOCALMSPID: NITWarangalMSP
      CORE_PEER_TLS_ENABLED: 'false'
      CORE_VM_ENDPOINT: unix:///host/var/run/docker.sock
      CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE: fabric
    volumes:
      - /var/run/docker.sock:/host/var/run/docker.sock
      - ./network/organizations/peerOrganizations/nit.ac.in/msp:/etc/hyperledger/fabric/msp
    ports:
      - "7051:7051"
      - "7052:7052"
    depends_on:
      - orderer.nit.ac.in
    networks:
      - fabric

networks:
  fabric:
    driver: bridge
